<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login Microsoft</title>
    <link rel="stylesheet" href='/static/css/mlogin.css'>
</head>
<body>

    <div class="login-container">
        <div class="login-card">
            <h2>Acesso ao Portal</h2>
            <p>Entre usando sua conta Microsoft corporativa</p>

            <a href="{{ url_for('login_microsoft') }}" class="ms-btn">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg">
                Entrar com Microsoft
            </a>
        </div>
    </div>

</body>
</html>
